:root {
	/* サイトで使用するカラー */
	--baseColor: #313131;
	--mainColor: #fff;
	--accentColor1: #82cbca;
	--accentColor2: #12a095;
	--accentColor3: #b92c92;
	--accentColor4: #ed6d00;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: 'mPlus1p-regular', sans-serif;
	color: var(--mainColor);
	line-height: 1.6;
}

/* フォントの設定 */
@font-face {
	font-family: 'smartFont';
	src: url(../fonts/03SmartFontUI.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'mPlus1p-regular';
	src: url(../fonts/MPLUS1p-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'mPlus1p-light';
	src: url(../fonts/MPLUS1p-Light.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'opinionPro';
	src: url(../fonts/Opinion\ Pro\ Light.otf);
	font-weight: 300;
}

/* フォントサイズの設定 */
.txt-xxxlarge {
	font-size: 48px !important;
}

.txt-xxlarge {
	font-size: 36px !important;
}

.txt-large {
	font-size: 32px !important;
}

.txt-xxmedium {
	font-size: 28px !important;
}

.txt-xmedium {
	font-size: 24px !important;
}

.txt-medium {
	font-size: 22px !important;
}

.txt-xsmall {
	font-size: 20px !important;
}

.txt-xxsmall {
	font-size: 18px !important;
}

/* テキスト配置 */
.txt-left {
	text-align: left;
}

.txt-center {
	text-align: center;
}

.txt-right {
	text-align: right;
}

/* 繰り返し使う余白 */
.layout-bottom-small {
	margin-bottom: 40px !important;
}
.layout-bottom-middle {
	margin-bottom: 80px !important;
}
.layout-bottom-xmiddle {
	margin-bottom: 100px !important;
}
.layout-bottom-xxmiddle {
	margin-bottom: 115px !important;
}
.layout-bottom-large {
	margin-bottom: 130px !important;
}
.section-title-top {
	margin-top: 100px !important;
}

/* 画像サイズ */
.img-full {
	width: 100%;
}

/* 基本的には隠しておく要素につける */
.is-hide {
	display: none;
}

/* ヘッダー */
.header {
	background-color: var(--baseColor);
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 3;
}

.header-content-wrapper {
	max-width: 1040px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.header-logo-wrapper {
	width: 96px;
}

.header-nav {
	display: flex;
	list-style: none;
	font-family: 'opinionPro';
}

.header-nav li {
	margin: 0 1.2vw;
}

.header-nav a {
	text-decoration: none;
	color: var(--mainColor);
}

/* メインコンテンツ */
.section {
	width: 100%;
	background-color: var(--baseColor);
	margin: 0;
}
.content-wrapper {
	max-width: 1040px;
	margin: 0 auto;
	overflow: hidden;
}

/* MV */
.section-mv {
	position: relative;
	background-color: #fff;
	/* header分の余白 */
	padding-top: 80px;
}
.mv-bg-wrapper {
	position: relative;
}
.mv-content-wrapper {
	position: absolute;
	width: 100%;
	max-width: 1040px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.mv-content-wrapper p {
	background-color: var(--baseColor);
	font-family: 'smartFont';
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	z-index: 1;

	width: 35%;
	padding: 10px 20px;
}
.mv-content-wrapper h1 {
	margin: 0 0 0 12vw;
}

/* Concept */
.concept-theme {
	font-family: 'mPlus1p-light';
	color: var(--accentColor1);
}
.section-title-concept:before {
	background-color: var(--accentColor1);
}

/* What we do */
.section-title-whatWeDo:before {
	background-color: var(--accentColor2);
}

/* もうちょいいい書き方→ ul li{} */
.what-list-wrapper {
	display: flex;
	align-items: center;
	margin: 0 15vw;
	justify-content: space-between;
}
.what-list-wrapper div {
	width: 33vw;
}

/* Members */
.section-title-members:before {
	background-color: var(--accentColor3);
}

.members-theme {
	color: var(--accentColor3);
}

.members-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1040px;
}
.members-list li {
	width: 25%;
	min-width: 200px;
	list-style: none;
}

/* TAKU-TEN */
.section-title-taku-ten:before {
	background-color: var(--accentColor4);
}

.taku-ten-desc {
	display: inline-block;
}

.taku-ten-link {
	transition: 0.5s;
	text-decoration: none;
}
.taku-ten-link :hover {
	transition: 0.5s;
	background-color: var(--mainColor);
	color: var(--baseColor);
}
.taku-ten-link :visited {
	color: var(--mainColor);
}
.taku-ten-link p {
	color: var(--mainColor);
	width: 25vw;
	padding: 10px 5%;
	margin: auto;
	border: solid 1px var(--accentColor4);
	border-radius: 21px;
	cursor: pointer;
}

.section-title-l {
	position: relative;
	font-family: 'opinionPro';
	width: 460px;
	text-align: center;
	margin: 0 auto;
	font-weight: 300;
	z-index: 1;
}
.section-title-r {
	position: relative;
	font-family: 'opinionPro';
	width: 460px;
	text-align: center;
	margin: 0 auto;
	font-weight: 300;
	z-index: 1;
}

/* 左向きの平行四辺形 */
.section-title-l:before {
	transform: skewX(45deg);
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

/* 右向きの平行四辺形 */
.section-title-r:before {
	transform: skewX(-45deg);
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.message {
	color: var(--baseColor);
}

.footer {
	background-color: var(--baseColor);
	height: 80px;
}
.footer-content-wrapper {
	max-width: 1040px;
	height: 100%;
	margin: 0 auto;
}
.copyright {
	position: relative;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.totop {
	width: 2.5vw;
	margin-left: auto;
}
